@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dynalight&family=Seaweed+Script&display=swap");

* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans JP", sans-serif;
}

.contenedor {
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
  height: 100% !important;
  flex: 1;
  position: fixed;
}

.terminos{
  color: rgb(189, 177, 177);
}

.terminos:hover{
  color: #1493cc;
}

/*resolucion pantallas grandes*/
@media (min-width: 992px) {
  /*CONTENEDORES DEL CONTENIDO Y DEL LOGIN Y REGISTRO*/
  .contenido {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    background-image: url("../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .contenido img {
    width: 100%;
    height: 100%;
  }

  .cont-log-reg {
    width: 45%;
    height: 100%;
    position: absolute;
  }

  .contenedor-logo-titulo {
    height: 30%;
  }

  .logo {
    width: 35%;
    height: 100%;
    background-image: url("../../../assets/images/logo1.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .titulo {
    width: 40%;
    height: 100%;
    float: right;
  }

  .descripcion {
    padding-top: 1rem;
    width: 100%;
    height: 40%;
    float: left;
    text-align: center;
    color: #1493cc;
  }
  .descripcion h3 {
    font-size: 2.3rem;
  }

  .registro-login {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 1rem;
  }
  .registro-login label {
    color: rgb(189, 177, 177);
    font-weight: lighter;
    font-size: small;
  }

  .formulario {
    padding-top: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .link-clip {
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }

  .link-clip a {
    text-decoration: none;
    color: #1493cc;
  }

  .btnIngresar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnIngresar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .btnRegistrar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnRegistrar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .info-adicional {
    padding-top: 2rem;
    width: 100%;
    height: 30%;
    text-align: right;
    color: #1493cc;
    font-family: "Dynalight", cursive;
    font-size: 3rem;
  }
}
/*RESOLUCION NOTEBOOKS*/
@media (min-width: 768px) and (max-width: 991px) {
  .contenido {
    width: 55%;
    height: 100%;
    position: relative;
    float: right;
    background-image: url("../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .cont-log-reg {
    width: 45%;
    height: 100%;
    position: absolute;
  }

  .contenedor-logo-titulo {
    height: 30%;
  }

  .logo {
    width: 48%;
    height: 100%;
    background-image: url("../../../assets/images/logo1.png");
    background-repeat: no-repeat;
    background-size: contain;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .titulo {
    width: 40%;
    height: 100%;
    float: right;
  }

  .descripcion {
    padding-top: 1rem;
    width: 100%;
    height: 40%;
    float: left;
    text-align: center;
    color: #1493cc;
  }
  .descripcion h3 {
    font-size: 2rem;
  }

  .registro-login {
    width: 100%;
    height: 25%;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .registro-login label {
    color: rgb(189, 177, 177);
    font-weight: lighter;
  }

  .formulario {
    padding-top: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .link-clip {
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }

  .link-clip a {
    text-decoration: none;
    color: #1493cc;
  }

  .btnIngresar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnIngresar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .btnRegistrar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnRegistrar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .info-adicional {
    padding-top: 2rem;
    width: 100%;
    height: 20%;
    text-align: right;
    color: #1493cc;
    font-family: "Dynalight", cursive;
    font-size: 2.5rem;
  }
}

/*resolucion para TABLETS*/
@media (min-width: 575px) and (max-width: 768px) {
  .contenido {
    width: 50%;
    height: 30%;
    position: relative;
    float: right;
    background-image: url("../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

  .cont-log-reg {
    width: 100%;
    height: 100%;
    position: absolute;
  }

  .contenedor-logo-titulo {
    height: 30%;
  }

  .logo {
    width: 48%;
    height: 10.2rem;
    background-image: url("../../../assets/images/logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }

  .titulo {
    width: 40%;
    height: 100%;
    float: right;
    display: none;
  }

  .descripcion {
    padding-top: 1rem;
    width: 100%;
    height: 40%;
    float: left;
    text-align: center;
    color: #1493cc;
  }
  .descripcion h3 {
    font-size: 2rem;
  }

  .registro-login {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
  }
  .registro-login label {
    color: rgb(189, 177, 177);
    font-weight: lighter;
  }

  .formulario {
    padding-top: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .link-clip {
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }

  .link-clip a {
    text-decoration: none;
    color: #1493cc;
  }

  .btnIngresar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnIngresar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .btnRegistrar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnRegistrar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .info-adicional {
    padding-top: 2rem;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #1493cc;
    font-family: "Dynalight", cursive;
    font-size: 3rem;
  }
}

/*resolucion para movil*/
@media (max-width: 575px) {
  .contenedor {
    padding-left: 0 !important;
    padding-right: 0 !important;
    width: 100% !important;
    height: 100% !important;
  }
  .contenido {
    width: 50%;
    height: 30%;
    position: relative;
    float: right;
    background-image: url("../../../assets/images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: none;
  }

  .cont-log-reg {
    width: 100%;
    height: 20%;
    position: absolute;
  }

  .contenedor-logo-titulo {
    height: 100%;
    text-align: center;
  }

  .logo {
    width: 100%;
    height: 21.2rem;
    margin-bottom: 50px;
    background-image: url("../../../assets/images/logo1.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 2rem;
    display: relative;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .titulo {
    width: 40%;
    height: 100%;
    float: right;
    display: none;
  }

  .descripcion {
    position: relative;
    padding-top: 1rem;
    width: 100%;
    height: 70%;
    float: left;
    text-align: center;
    color: #1493cc;
    margin-top: 8.5rem;
  }
  .descripcion h3 {
    font-size: 1.6rem;
    margin-top: 40px;
  }

  .registro-login {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    /* padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 4rem; */
  }
  .registro-login label {
    color: rgb(189, 177, 177);
    font-weight: lighter;
    font-size: 1rem;
  }

  .formulario {
    padding-top: 0px;
    padding-left: 3rem;
    padding-right: 3rem;
  }

  .link-clip {
    height: 50%;
    position: relative;
    bottom: 0;
    right: 0;
    margin-top: 1rem;
  }

  .link-clip a {
    text-decoration: none;
    color: #1493cc;
    font-size: 0.7rem;
  }

  .btnIngresar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnIngresar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .btnRegistrar {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    background-color: #1493cc !important;
    border: 1px solid #ffffff;
  }
  .btnRegistrar:hover {
    background-color: #17658b !important;
    border: 1px solid #ffffff;
  }

  .info-adicional {
    margin-top: 2rem;
    width: 100%;
    height: 20%;
    text-align: center;
    color: #1493cc;
    font-family: "Dynalight", cursive;
    font-size: 2.5rem;
  }
}
