<app-navbar></app-navbar>

<body>


  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">


  <div class="container">
    <br><br>

    <div class="card mb-3 card-novisible" *ngIf="this.validar == 0">
      <div style="text-align: center;">
        <img class="imagen" src="../../../../assets/images/nuevaList.gif" alt="develop">
      </div>
      <div class="card-body">
        <p class="card-text text-center parrafo"><strong>No te encuentras en ningún proyecto todavía.</strong></p>
        <p class="card-text text-center" style="font-size: 20px;">Sumate a uno ahora!!</p>
        <button class="btn btn-primary text-center botonSumar" style="margin: 0 auto;"
          (click)="redireccion()">Sumarme!</button>
      </div>
    </div>

    <div class="mb-5 text-center d-flex justify-content-center" *ngIf="this.validar != 0">
      <div class="card">
        <h1 class="mt-3 ml-3 mr-3">Cantidad de proyectos en los que te has sumado: " {{cantidadProyectos}} "</h1>
      </div>
    </div>
    <div *ngFor="let proyecto of proyectoEmpleado">


      <div class="row">
        <!-- <div *ngIf="proyecto.legajo == idEmpleado"> -->
        <div class="col-12 col-sm-12 col-md-4 col-lg-4"><img [src]="proyecto.img_mockup" class="imgMockup"></div>
        <div class="card col-12 col-sm-12 col-md-8 col-lg-8 mb-5">
          <table class="table table-hover shopping-cart-wrap">
            <thead class="text-muted">
              <tr>
                <th scope="col">Proyecto</th>
                <th scope="col" width="40">Empresa</th>
                <th scope="col" width="200" class="text-center">Acción</th>
              </tr>
            </thead>
            <tbody>
              <tr>

                <td>
                  <figure class="media">

                    <figcaption class="media-body">
                      <!-- <h6 class="title text-truncate">Product name goes here </h6> -->
                      <dl>
                        <dt>Nombre proyecto: </dt>
                        <dd> {{proyecto.nombre_proyecto}} </dd>
                      </dl>
                      <dl>
                        <dt>Descripción: </dt>
                        <dd>{{proyecto.descripcion}}</dd>
                      </dl>
                    </figcaption>
                  </figure>
                </td>

                <td>
                  <div class="price-wrap">
                    <var class="price">{{proyecto.empresa}}</var>
                  </div> <!-- price-wrap .// -->
                </td>
                <td class="text-right">
                  <button (click)="salirDeProyecto(proyecto.id_proyecto)" class="btn btn-outline-danger"> Salir de
                    proyecto</button>
                </td>
              </tr>

            </tbody>
          </table>

        </div> <!-- card.// -->
        <br>
      </div>
    </div>
  </div>
  <!-- </div> -->
  <!--container end.//-->




</body>
