<body>
  <div class="wrapper fadeInDown">
    <div class="cardTamaño">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">Bienvenido</span>
          <br>
          <span class="titulo">Complete los campos para crear su cuenta</span>
          <form class="mt-3" [formGroup]="formEmpleado" (ngSubmit)="agregarEmpleado(selectedEmpleado)">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 general-fotos">
              <div class="card">
                <div class="card-body text-center">
                  <div class=" col-12 col-sm-12 col-md-12 dni-mensaje">
                    <p>Ingrese una foto de perfil</p>
                </div>
                <div class=" col-12 col-sm-12 col-md-12 selfie">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12"><p>Foto</p></div>
                        <div class= "col-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="selfie-foto">
                                <img [src]="fotoUsuario" alt="">
                            </div>
                        </div>
                        <div class ="col-12 col-sm-12 col-md-12 col-lg-12">
                          <div class ="contenedor-btnDorso">
                              <input class="file" id="fileselfie" (click)="onSelectedFile()" formControlName="fotoPerfil">
                              <label for="fileselfie" class="labelFoto">Subir Archivo</label>
                          </div>
                      </div>
                    </div>
                </div>
                </div>
              </div>
            </div>

            <div class="row">
              <!-- Primer fila -->

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 borde">
                <div class="form-group">
                  <label class="form-control" for="nombre">Nombre</label>
                  <input type="text" id="nombre" class="form-control fadeIn" formControlName="nombre"
                    [(ngModel)]="selectedEmpleado.Nombre"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('nombre')?.touched || formEmpleado.get('nombre')?.dirty) && !formEmpleado.get('nombre')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('nombre').errors?.required">
                      Introduzca un Nombre
                    </span>
                    <span *ngIf="formEmpleado.get('nombre').errors?.pattern">
                      Debe contener al menos 2 caracteres
                    </span>
                  </div>
                </div>



                <div class="form-group">
                  <label class="form-control text-center" for="apellido">Apellido</label>
                  <input type="text" id="apellido" class="form-control fadeIn" formControlName="apellido"
                    [(ngModel)]="selectedEmpleado.Apellido"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('apellido')?.touched || formEmpleado.get('apellido')?.dirty) && !formEmpleado.get('apellido')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('apellido').errors?.required">
                      Introduzca un Apellido
                    </span>
                    <span *ngIf="formEmpleado.get('apellido').errors?.pattern">
                      Debe contener al menos 2 caracteres
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="sexo">Sexo</label>
                  <select class="form-control fadeIn" [(ngModel)]="selectedEmpleado.Sexo" formControlName="sexo"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('sexo')?.touched || formEmpleado.get('sexo')?.dirty) && !formEmpleado.get('sexo')?.valid}">
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('sexo').errors?.required">
                      Seleccione el sexo
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="idTipoDocumento">Tipo de Documento</label>
                  <select class="form-control fadeIn" [(ngModel)]="selectedEmpleado.IdTipoDocumento"
                    formControlName="idTipoDocumento"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('idTipoDocumento')?.touched || formEmpleado.get('idTipoDocumento')?.dirty) && !formEmpleado.get('idTipoDocumento')?.valid}">
                    <option *ngFor="let tipodni of tipoDni" value={{tipodni.Id}}>{{tipodni.Nombre_dni}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('idTipoDocumento').errors?.required">
                      Seleccione un tipo de dni
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control text-center" for="numDni">Número de Documento</label>
                  <input type="text" id="numDni" class="form-control fadeIn" formControlName="numDni"
                    [(ngModel)]="selectedEmpleado.NumeroDocumento"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('numDni')?.touched || formEmpleado.get('numDni')?.dirty) && !formEmpleado.get('numDni')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('numDni').errors?.required">
                      Introduzca un DNI
                    </span>
                    <span *ngIf="formEmpleado.get('numDni').errors?.pattern">
                      Debe contener al menos 7 caracteres Numéricos, sín espacios en blanco
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="telefono">Teléfono</label>
                  <input type="text" [(ngModel)]="selectedEmpleado.Telefono" class="form-control fadeIn"
                    formControlName="telefono"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('telefono')?.touched || formEmpleado.get('telefono')?.dirty) && !formEmpleado.get('telefono')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('telefono').errors?.required">
                      Introduzca un Teléfono
                    </span>
                    <span *ngIf="formEmpleado.get('telefono').errors?.pattern">
                      Ingrese los 10 digitos numéricos sin el prefijo
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control" for="fechaNacimiento">Fecha de Nacimiento</label>
                  <input type="date" class="form-control fadeIn" title="Fecha de Nacimiento"
                    [(ngModel)]="selectedEmpleado.FechaNacimiento" formControlName="fechaNacimiento"
                    [ngClass]="{ 'is-invalid': formEmpleado.get('fechaNacimiento')?.touched && !formEmpleado.get('fechaNacimiento')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('fechaNacimiento').errors?.required">
                      Introduzca una Fecha de Nacimiento
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control" for="email">Email</label>
                  <input type="email" [(ngModel)]="selectedEmpleado.Email" class="form-control fadeIn"
                    formControlName="email"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('email')?.touched || formEmpleado.get('email')?.dirty) && !formEmpleado.get('email')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('email').errors?.required">
                      Introduzca un Email
                    </span>
                    <span *ngIf="formEmpleado.get('email').errors?.pattern">
                      Ingresa un formato correcto, ejemplo@ejemplo.com
                    </span>
                  </div>
                </div>


              </div><!-- Termina Fila -->

              <!-- Segunda fila -->

              <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 borde">
                <div class="form-group">
                  <label class="form-control" for="pais">País</label>
                  <select class="form-control fadeIn" [(ngModel)]="selectedPais.id" formControlName="pais"
                    (change)="onSelectPais($event.target.value)"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('pais')?.touched || formEmpleado.get('pais')?.dirty) && !formEmpleado.get('pais')?.valid}">
                    <option *ngFor="let pais of paises" value={{pais.id}}>{{pais.nombre}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('pais').errors?.required">
                      Seleccione un país
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="provinvia">Provincia</label>
                  <select class="form-control fadeIn" [(ngModel)]="selectedProv.id" formControlName="provincia"
                    (change)="onSelectProv($event.target.value)"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('provincia')?.touched || formEmpleado.get('provincia')?.dirty) && !formEmpleado.get('provincia')?.valid}">
                    <option *ngFor="let provincia of provinciasAux" value={{provincia.id}}>{{provincia.nombre}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('provincia').errors?.required">
                      Seleccione una provincia
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="localidad">Localidad</label>
                  <select class="form-control" [(ngModel)]="selectedEmpleado.IdLocalidad" formControlName="localidad"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('localidad')?.touched || formEmpleado.get('localidad')?.dirty) && !formEmpleado.get('localidad')?.valid}">
                    <option *ngFor="let localidades of localidadesAux" value={{localidades.id}}>{{localidades.nombre}}
                    </option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('localidad').errors?.required">
                      Seleccione una localidad
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="domicilio">Domicilio</label>
                  <input type="text" [(ngModel)]="selectedEmpleado.Domicilio" class="form-control fadeIn"
                    formControlName="domicilio"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('domicilio')?.touched || formEmpleado.get('domicilio')?.dirty) && !formEmpleado.get('domicilio')?.valid}">

                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('domicilio').errors?.required">
                      Introduzca un Domicilio
                    </span>
                    <span *ngIf="formEmpleado.get('domicilio').errors?.pattern">
                      Ingresa solo caracters alfanumericos, longitud maxima 50
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="idTipoEmpleado">Tipo de Empleado</label>
                  <select class="form-control" [(ngModel)]="selectedEmpleado.IdTipoEmpleado"
                    formControlName="idTipoEmpleado"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('idTipoEmpleado')?.touched || formEmpleado.get('idTipoEmpleado')?.dirty) && !formEmpleado.get('idTipoEmpleado')?.valid}">
                    <option *ngFor="let tipoempleado of tipoEmpleado" value={{tipoempleado.Id}}>
                      {{tipoempleado.Description}}</option>
                  </select>
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('idTipoEmpleado').errors?.required">
                      Seleccione un tipo empleado
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="usuario">Nombre de Usuario</label>
                  <input type="text" [(ngModel)]="selectedEmpleado.NombreUsuario" class="form-control fadeIn"
                    formControlName="usuario"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('usuario')?.touched || formEmpleado.get('usuario')?.dirty) && !formEmpleado.get('usuario')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('usuario').errors?.required">
                      Introduzca un Usuario
                    </span>
                    <span *ngIf="formEmpleado.get('usuario').errors?.pattern">
                      Debe contener al menos 5 caracteres Alfanumericos, sin espacios en blanco
                    </span>
                  </div>
                </div>


                <div class="form-group">
                  <label class="form-control" for="password">Password</label>
                  <input type="password" class="form-control fadeIn" formControlName="password"
                    [(ngModel)]="selectedEmpleado.Password"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('password')?.touched || formEmpleado.get('password')?.dirty) && !formEmpleado.get('password')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('password').errors?.required">
                      Introduzca un password
                    </span>
                    <span *ngIf="formEmpleado.get('password').errors?.pattern">
                      Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                    </span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="form-control" for="passwordRepeat">Repetir Password</label>
                  <input type="password" class="form-control fadeIn" formControlName="passwordRepeat"
                    [ngClass]="{ 'is-invalid': (formEmpleado.get('passwordRepeat')?.touched || formEmpleado.get('passwordRepeat')?.dirty) && !formEmpleado.get('passwordRepeat')?.valid}">
                  <div class="invalid-feedback">
                    <span *ngIf="formEmpleado.get('passwordRepeat').errors?.required">
                      Introduzca un password
                    </span>
                    <span *ngIf="formEmpleado.get('passwordRepeat').errors?.pattern">
                      Debe contener al menos 8 caracteres alfanumericos y una mayuscula, sin espacios en blanco
                    </span>
                  </div>
                </div>

              </div><!-- Termina Fila -->


              <div class="mb-3 col-md-12">
                <button routerLink="/login" class="btn btn-secondary" style="float: left;">Volver</button>
                <button class="btn btn-success" style="float: right;"
                  [disabled]="formEmpleado.invalid">Registrarse</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
