<body>

  <div class="wrapper fadeInDown">

    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="fadeIn first mt-2 mb-2">
        <img src="../../../assets/images/logo1.png" id="icon" alt="User Icon" />
      </div>

      <!-- Login Form -->
      <form (ngSubmit)="onSubmit()" [formGroup]="form">

        <div class="form-group">
          <input type="text" id="login" class="fadeIn second form-control" formControlName="inputUsuario"
            placeholder="Usuario" [(ngModel)]="usuario.nombreUsuario"
            [ngClass]="{ 'is-invalid': (form.get('inputUsuario')?.touched || form.get('inputUsuario')?.dirty) && !form.get('inputUsuario')?.valid}">

          <div class="invalid-feedback">
            <span *ngIf="form.get('inputUsuario').errors?.required">
              Introduzca un Usuario
            </span>
          </div>
        </div>

        <div class="form-group">

          <input type="password" id="password" class="fadeIn third" placeholder="Password"
            formControlName="inputPassword" [(ngModel)]="usuario.password"
            [ngClass]="{ 'is-invalid': (form.get('inputPassword')?.touched || form.get('inputPassword')?.dirty) && !form.get('inputPassword')?.valid}">

          <div class="invalid-feedback">
            <span *ngIf="form.get('inputPassword').errors?.required">
              Introduzca un Password
            </span>
          </div>
        </div>


        <input type="submit" id="btnIngresar" class="fadeIn fourth" value="INGRESAR">


      </form>

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <div class="row">
          <div class="col">
            <a class="underlineHover">Olvide mi contraseña</a>
          </div>
          <div class="col">
            <a class="underlineHover" routerLink="/empleado">Crear una cuenta</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</body>
