body {
  /*background-color: #EB5600;*/
  background: #2980b9; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #ffffff,
    #6dd5fa,
    #2980b9
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: auto;
}
.text-danger {
  text-align: start;
  margin-left: 7px;
}

.titulo {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

.cardTamaño{
  width: 80%;
}

.card{
  border-radius: 15px !important;
}

*:focus {
  outline: none !important;
  box-shadow: none;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 95%;
  padding: 10px;
}

input[type=text] {
  background-color: white;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  outline: none !important;
}
input[type=text]:focus {
  background-color: #fff;
  border-bottom: 2px solid #1493cc;
}

input[type=email] {
  background-color: white;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=email]:focus {
  background-color: #fff;
  border-bottom: 2px solid #1493cc;
}

input[type=date] {
  background-color: white;
  color: #0d0d0d;
  text-align: center;
  text-decoration: none;
  box-shadow: none;
  font-size: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

label{
  text-align: center !important;
  font-size: 1rem !important;
  color:rgb(107, 92, 92) !important;
  text-decoration: none !important;
  border:none !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
}

select{
  text-align: center;
  border: 0.1px solid #cfc7c7;
}

.fotoPerfil{
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.general-fotos p{
  font-weight: bold;
}

.general-fotos{
  width: 100%;
  text-align: center;
  margin: auto;
}

.contenedor-btnDorso{
  position: relative;
  display: inline-block;
}

img{
  width: 100%;
  height: 100%;
}

.selfie{
  /* padding-top: 1rem; */
  text-align: center;
  display: inline-block;
}

.selfie .selfie-foto{
  /*margin-left: 6.5rem;*/
  margin-bottom: 1rem;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: inline-block;
  border: grey 1px dashed;
}



/*resolucion para TABLETS*/
@media(min-width: 575px) and (max-width: 768px){

  img{
      width: 100%;
      height: 100%;
  }

  .selfie .selfie-foto{
      width: 8rem;
      height: 7rem;
  }
}

.labelFoto{
  cursor: pointer;
  background-color:#2098D1;
  color: white !important;
  padding: 0.3rem;
  text-transform: uppercase;
  border-radius: 5px 5px 5px 5px;
}

.labelFoto:hover{
  background-color:#17658b;
}

.file{
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: none;
}
