<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<!-- Team -->
<section id="team">
  <div class="container">
    <h1 class="section-title h1">Selecciona un proyecto para ver sus participantes</h1>
    <div class="row">
      <div class="titulo col-7 col-sm-12 col-md-5 col-lg-7 offset-lg-1 offset-sm-3 offset-md-3">
        <form class="">
          <select class="form-control" [(ngModel)]="id_proyecto" id="idproyecto" name="idproyecto" required
            (change)="guardarId()">
            <option *ngFor="let proyectos of listProyectos" value={{proyectos.Id_proyecto}}>{{ proyectos.Nombre }}
            </option>
          </select>
        </form>

      </div>
      <button class="btn bt-small btn-primary col-3 ml-3 btnAceptar" (click)="traerListaEmpleados()">ACEPTAR</button>
    </div>
  </div>
  <div class="row" *ngIf="this.validar != 0">
    <!-- Team member -->
    <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let empleados of listEmpleados">
      <div class="image-flip">
        <div class="mainflip flip-0">
          <div class="frontside">
            <div class="card">
              <div class="card-body text-center">
                <!-- recordar imagen 120x120 -->
                <p><img class=" img-fluid" src="{{ empleados.foto }}"
                    alt="card image"></p>
                <h4 class="card-title">{{ empleados.nombre }}</h4>
                <p class="card-text">{{ empleados.tipoEmpleado }}</p>
                <br>
                <a href="https://www.fiverr.com/share/qb8D02" class="btn btn-primary btn-sm"><i
                    class="fa fa-plus"></i></a>
              </div>
            </div>
          </div>
          <div class="backside">
            <div class="card">
              <div class="card-body text-center mt-4 cardChica" style="width: 320px; height: 272px;">
                <h4 class="card-title">{{ empleados.nombre }}</h4>
                <br>
                <p class="card-text">Email: {{ empleados.email }}</p>
                <p class="card-text">Vive en {{ empleados.localidad }}</p>
                <p class="card-text">Provincia de {{ empleados.provincia }}</p>
                <br>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-facebook"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-skype"></i>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="social-icon text-xs-center" target="_blank" href="https://www.fiverr.com/share/qb8D02">
                      <i class="fa fa-google"></i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ./Team member -->

  </div>
</section>

<section style="padding: 0;" *ngIf="this.validar == 0">
      <img class="imagen" src="../../../../assets/images/meeting-clipart-animation-3.gif" alt="develop">
</section>
<!-- Team -->
