<app-navbar></app-navbar>

<div class="container">
  <div class="col-8 offset-2">

    <div id="accordion">
      <div class="card-header card-header2">
        <h1 class="text-center mt-5 mb-1">Preguntas Frecuentes</h1>
        <img class="img-haeder" src="../../../../assets/images/preguntas-frecuentes-diseno-grafico.gif" alt="">
      </div>
      <div class="card mt-3">
        <div class="card-header" id="headingOne" style="border-radius: 20px 20px 0 0;">
          <h5 class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              ¿Puedo sumarme a cualquier proyecto?
            </button>
          </h5>
        </div>

        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">
            Family&CoWorker te permite sumarte a cualquier proyecto, para que puedas dar criticas constructivas,
            valorarlo, tener un seguimiento del mismo y ver sus avances futuros. Tambien puedes ver sus comentarios o
            dejar tu propio comentario para la mejora del sistema.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingTwo">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              ¿Puedo agregar al sistema mi proyecto para que lo valoren y me dejen comentarios?
            </button>
          </h5>
        </div>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
          <div class="card-body">
            Claro! podes sumarlo y dejarlo con un MockUp de tu proyecto para que tus compañeros puedan sumarse a el,
            valorarlo y dejarte comentarios.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree"
              aria-expanded="false" aria-controls="collapseThree">
              ¿Cuánto tiempo tengo que permanecer en un proyecto?
            </button>
          </h5>
        </div>
        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
          <div class="card-body">
            No es obligatorio seguir en un proyecto, ingresando a tu perfil puedes salir de los proyectos a los cuales
            no quieras pertenecer más.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFour">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour"
              aria-expanded="false" aria-controls="collapseFour">
              ¿Cuánto cuesta mantener la cuenta activa?
            </button>
          </h5>
        </div>
        <div id="collapseFour" class="collapse" aria-labelledby="collapseFour" data-parent="#accordion">
          <div class="card-body">
            El servicio es totalmente gratiuto, si alguien se comunica pidiendo el cobro de la aplicación comunicarse al
            (+54) 351-3325252 o a nuestra casilla de mails
            friendcoworker@gmail.com.
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingFive">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive"
              aria-expanded="false" aria-controls="collapseFive">
              ¿Qué significa la evaluación de los empleados y proyectos?
            </button>
          </h5>
        </div>
        <div id="collapseFive" class="collapse" aria-labelledby="collapseFive" data-parent="#accordion">
          <div class="card-body">
            Significa que puedes valorar sus mejores desempeños en los empleados y funciones en los proyectos, esto
            generara un reporte de todas las valoraciones y se mostrara un promedio del resultado.
          </div>
        </div>
      </div>

      <div class="card mb-5">
        <div class="card-header" id="headingSix" style="border-radius: 0 0 20px 20px;">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix"
              aria-expanded="false" aria-controls="collapseSix">
              ¿Cuáles son los atributos que se evaluan?
            </button>
          </h5>
        </div>
        <div id="collapseSix" class="collapse" aria-labelledby="collapseSix" data-parent="#accordion">
          <div class="card-body">
            En los empleados: comunicación, desempeño, trabajo en equipo, puntualidad y resolución problemas. Y en los
            proyectos: funcionalidad, documentación, diseño, retro alimentación y tiempo de entrega.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
