<!-- NAVBAR -->
<app-navbar></app-navbar>

<section id="banner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>SUMEMOS BUENAS PRÁCTICAS</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p>VALORÁ LAS BUENAS ACCIONES DE TUS COMPAÑEROS</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <a href="#" class="btn btn-banner">VALORAR</a>
      </div>
    </div>
  </div>
</section>

<section id="one">
  <div class="container">
    <div class="one-features">
      <div class="row">
        <div class="col-md-8 col-md-offset-1">
          <div class="section-highlight">
            <h2>Buscá todos tus compañeros</h2>
          </div>
          <div class="section-details">
            <p>
              Valora el trabajo y esfuerzo de tus compañeros, dandole puntos en sus caracteristicas
              en las que mas destaquen y deja un comentario para que vean tus saludos.
            </p>
            <a href="#" class="btn btn-learn-more">VER MÁS <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
        <div class="col-md-4">
          <img src="../../../assets/images/develop.jpg" alt="Responsive image" class="img-responsive">
        </div>
      </div>
    </div>
  </div>
</section>

<section id="two">
  <div class="container">
    <div class="two-features">
      <div class="row">
        <div class="col-md-4">
          <img src="../../../assets/images/proyect.png" alt="Responsive image" class="img-responsive">
        </div>
        <div class="col-md-8">
          <div class="section-highlight">
            <h2>¿Queres sumarte a un proyecto?</h2>
          </div>
          <div class="section-details">
            <p>
              Sumate a proyectos, valora con puntos las caracteristicas más favorables a tu punto de vista,
              deja un comentario para dar una ayuda en mejoras o para felicitar el trabajo realizado.
            </p>
            <a href="/proyecto" class="btn btn-learn-more">VER MÁS <i class="fas fa-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="footer">
  <div class="container">
    <div class="footer-top">
      <div class="section-heading">
        <div class="title">
          <div class="row">
            <div class="col-md-12">
              <h2>CONTACTANOS</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-features">
      <div class="row">
        <div class="col-md-6">
          <form>
            <div class="form-group">
              <input type="text" name="name name" class="form-control form-footer" placeholder="Nombre" required="">
            </div>
            <div class="form-group">
              <input type="email" required="" class="form-control form-footer" placeholder="Email">
            </div>
            <div class="form-group">
              <textarea class="form-control form-footer" rows="5" placeholder="Mensaje"></textarea>
            </div>
            <button type="submit" class="btn btn-solid-state" (click)="enviarMensaje()">Enviar mensaje</button>
          </form>
        </div>
        <div class="col-md-6">
          <div class="footer-list">
            <ul class="list-unstyled">
              <li class="list-table">
                <i class="fas fa-home"></i>
                <p>Av Colón 1234 Córdoba Capital, Argentina, CP 5000</p>
              </li>
              <li class="list-table">
                <i class="fas fa-phone-alt"></i>
                <p>(+54) 351-3325252</p>
              </li>
              <li class="list-table">
                <i class="fas fa-envelope"></i>
                <p>friendcoworker@gmail.com</p>
              </li>
            </ul>
            <div class="list-solid-state">
              <ul class="list-inline liicon">
                <li class="liIcon">
                  <a href="/home"><i class="fab fa-facebook-f"></i></a>
                </li>
                <li class="liIcon">
                  <a href="/home"><i class="fab fa-twitter"></i></a>
                </li>
                <li class="liIcon">
                  <a href="/home"><i class="fab fa-linkedin-in"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="row">
        <div class="col-md-12">
          <p>&copy; Friend&CoWorker 2021. Todos los derechos reservados a <a href="http://localhost:4201"
              target="_blank">Friend&CoWorker</a></p>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module" src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.esm.js"></script>
<script nomodule src="https://cdn.jsdelivr.net/npm/@ionic/core/dist/ionic/ionic.js"></script>
